@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

/*LIGHT AND DARK MODE*/

.light {
    --color-pop: rgb(44, 154, 222);
    --background: #b8e1f1;
    --highlight-background: white;
    --text-color: rgb(21, 21, 21);
}

.dark {
    --color-pop: rgb(136, 44, 222);
    --background: rgb(21, 21, 21);
    --highlight-background: rgb(49, 49, 49);
    --text-color: rgb(203, 200, 205);
}

/*MAIN LAYOUT*/

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background);
}

/*wraps the whole page and places it above the sass background*/
.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  right: 0
}

/*navbar is on the left*/
.navbar {
    width: 250px;
    background-color: var(--highlight-background);
    color: var(--text-color);
    overflow-y: auto;
    transition: width 0.3s; /* Smooth transition for collapsing */
    display: flex;
    justify-content: start;
    flex-direction: column;
    padding-top: 70px;
}

/*on the chat page, this wraps the messages on the right and the input field on the bottom right*/
.mainContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: center;
    align-items: center;
    width:100%;
    max-width: 600px;
    margin: 0 auto;
}

/*wraps the messages*/
.chatContainer {
    flex: 1;
    overflow-y: auto;
}

/*input on the bottom right*/
.inputContainer {
    position: sticky;
    bottom: 0;
    background-color: var(--highlight-background);
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    max-width: 600px;
    height:150px;
}

/* FORM */

.fixedContainer {
    min-height: 100vh;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: scroll;
}

.introWrapper {
    display:flex;
    width:100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-color);
}

.formContainer {
    background-color: var(--highlight-background);
    display: flex;
    flex-direction: column;
    padding:20px;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    border-radius:20px;
    height:500px;
    max-height:100vh;
    color: var(--text-color);
}

.formContainer form {
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-evenly;
}

.formContainer h1, h2 {
    color: var(--color-pop);
}

.button {
    border-radius: 20px;
    border:1px solid transparent;
    background-color: var(--color-pop);
    color: var(--text-color);
    padding: 10px 20px;
    cursor:pointer;
    min-width:100px;
    margin: 10px 0;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}

.formContainer label {
    color:var(--color-pop);
    padding:10px 0;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

.formContainer input {
    border-radius: 20px;
    border: 1px solid transparent;
    padding: 10px;
}

.formContainer input:focus {
    outline: 2px solid var(--color-pop);
}

.formContainer a {
    text-decoration: none;
    color: var(--text-color);
}

.formItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.formItem .button {
    align-self: center;
}

/*CHAT INPUT FIELD*/

.inputContainer textarea {
    width: 100%;
    padding: 20px;
    margin: 10px;
    color: var(--text-color);
    background-color: var(--highlight-background);
    font-size: 16px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    height: 130px;
    resize: none;
}

.inputContainer textarea::placeholder {
    color: var(--text-color);
}

/*wraps the buttons*/
.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.roundButton {
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    align-self: center;
    display: flex;
    margin: 10px;
    background-color: var(--color-pop);
}

.inputContainer input,
.roundButton {
    font-size: 16px;
}

/*NAVBAR*/

.navbar ul {
    padding:0;
}

.navbar li {
    padding: 10px;
    list-style-type: none;
    margin:5px;
}

.navbar li a {
    text-decoration: none;
    color: var(--text-color);
}

.navbar li:hover {
    border-radius: 10px;
    background-color: var(--color-pop);
    cursor: pointer;
}

.navbar.collapsed {
    width: 0;
}

.categoryHeader {
    border: 1px solid var(--color-pop);
    margin: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    height: 50px;
}

.openCategoryHeader {
    background-color: var(--color-pop);
}

@media (max-width: 768px) {
    .navbar {
        position: absolute;
        width: 0;
        height: 100vh;
    }

    .navbar.active {
        width: 250px;
        height:100vh;
        z-index: 10;
    }
}

.navbarControl {
    position: absolute;
    top:0;
    left:0;
    z-index: 20;
}

/*AUDIO PLAYER*/

.audioPlayer {
    position: absolute;
    top:0;
    left:0;
    right:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/*SCROLLBARS*/

/* Hide scrollbar for Chrome, Safari and Opera */
.chatContainer::-webkit-scrollbar, .inputContainer textarea::-webkit-scrollbar, .navbar::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.chatContainer, .inputContainer textarea, .navbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/*CHAT MESSAGES*/

.message {
    background-color: var(--highlight-background);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    margin:10px 0;
    padding:20px 20px 10px 20px;
    width:100%;
}

.message p {
    display: inline;
    line-height: 1.8;
    letter-spacing: 0.5px;
    margin-bottom: 1.5em;
}

.name {
    font-weight: bold;
    color: var(--color-pop);
}

/*wraps the copy and listen buttons*/
.smallButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 15px;
}

.smallButton {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    margin-top: 10px;
    padding: 0;
    color: var(--color-pop);
}

/*WELCOME SCREENS*/

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height:100%;
}

.title {
    font-size: 2em;
    font-weight: bold;
    color: var(--color-pop);
    text-align: center;
}

/*IMAGES IN MESSAGES*/

.message img {
    width:100%;
    margin: 10px 0 10px 0;
}

.imageContainer {
    width:20vw;
    min-width:300px;
    max-width:100%;
    position: relative;
}

.downloadButton {
    position:absolute;
    top:0;
    right:0;
    margin: 20px 10px;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

/*LOADER ANIMATION*/

.loader { 
    ---dotSize: 20px;
    ---animationTime: 0.8s;
    margin-left:20px;
}
.loader span {
    display: inline-block;
    width: var(---dotSize);
    height: var(---dotSize);
    background: var(--color-pop);
    border-radius: var(---dotSize);
    animation: loader var(---animationTime) infinite alternate;
}
.loader span:nth-of-type(2) {
    animation-delay: 0.2s;
}
.loader span:nth-of-type(3) {
    animation-delay: 0.6s;
}
@keyframes loader {
  0% {
    opacity: 0.9;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.1;
    transform: scale(1);
  }
}

/* UTILS */

.centerMe {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.tall {
    min-height: calc(100% - 150px);
}