*,
*::after,
*::before {
    box-sizing: border-box;
}

.light {
    --color-pop: rgb(44, 154, 222);
    --background: #b8e1f1;
    --highlight-background: white;
    --text-color: rgb(21, 21, 21);
}

.dark {
    --color-pop: rgb(136, 44, 222);
    --background: rgb(21, 21, 21);
    --highlight-background: rgb(49, 49, 49);
    --text-color: rgb(203, 200, 205);
}

body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

.container {
    width: 100%;
    max-width: 500px;
    margin:0 auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
}

.chatContainer {
    width:100%;
    margin-bottom: 170px;
    overflow-y: auto;
}

.buttonContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*button inside input field*/
.inputContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10px auto;
    max-width: 500px;
    background-color: var(--highlight-background);
    border-radius: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height:150px;
}

.inputContainer textarea {
    width: 100%;
    max-width:450px;
    padding: 20px;
    margin:10px;
    color: var(--text-color);
    background-color: var(--highlight-background);
    font-size: 16px;
    border:none;
    outline:none;
    font-family: Arial, Helvetica, sans-serif;
    height:130px;
    resize: none;
}
.inputContainer textarea::placeholder {
    color: var(--text-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.chatContainer::-webkit-scrollbar, .inputContainer textarea::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.chatContainer, .inputContainer textarea {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.inputContainer button {
    border: 1px solid transparent;
    padding: 10px;
    cursor: pointer;
    border-radius: 30px;
    align-self: center;
    display:flex;
    margin:10px;
    background-color: var(--color-pop);
}

.inputContainer input,
.inputContainer button {
    font-size: 16px;
}

.message {
    background-color: var(--highlight-background);
    color: var(--text-color);
    border: 1px solid transparent;
    border-radius: 20px 20px 20px 20px;
    margin:10px 0;
    padding:20px;
    width:100%;
}

.message p {
    display: inline;
}

.message img {
    width:100%;
    padding: 10px 0 10px 0;
}

.name {
    font-weight: bold;
    color:var(--color-pop);
}

.title {
    font-size: 2em;
    font-weight: bold;
    color:var(--color-pop);
    text-align: center;
}

.loading {
    margin:10px;
    color:var(--text-color);
}

.navbar{
    position:absolute;
    top:0;
}